@import '~bootstrap/scss/bootstrap';

.set-heigth {
    height: 100px;
}

.bg-dark {
    background-color: black !important;
}

.collapse.navbar-collapse > * {
    font-size: 20px;
}

.asp-ratio {
    aspect-ratio: 1 / 1;
}

.max200 {
    max-width: 200px;
    max-height: 200px;
}


.home-jumbo {
    width: 95vw;
    height: 95vh;
}

.text-grey {
    opacity: .6;
}

.form-check-input:checked {
    background-color: rgb(25,135,84);
    border-color: rgb(25,135,84);
}

.m-left {
    margin-left: 12px;
}

.row.bg-add {
    background-color: paleturquoise;
}
